@import "../../global.scss";
.testimonials {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 50px;
    @include mobile {
      font-size: 20px;
    }
  }
  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      flex-direction: column;
    }

    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 0.7s ease;
      @include mobile {
        height: 350px;
        box-shadow: none;
        border: 1px dashed salmon;
        
      }
      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;
        @include mobile {
          width: 250px;
          height: 170;
          margin: 1px;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          overflow: hidden;
        }
        img {
          &.left,
          &.right {
            height: 25px;
          }
          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;
            @include mobile {
              
            }
          }
        }
      }
      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 236, 240, 0.568);
        text-align: center;
        @include mobile {
          overflow: hidden;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
          margin-bottom: 5px;
        }
        h4 {
          color: lightgray;
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
